:root {
  font-family: 'Amatic SC', sans-serif;
  font-size: x-large;
  background-color: #e7e7e7f5;
}
.bg-light-green-logo:hover {
  background-color: #99AD5C;
}
.bg-green-logo{
  background-color: #616E39;
}