:root {
  font-family: 'Amatic SC', sans-serif;
  font-size: x-large;
  background-color: #e7e7e7f5;
}
.bg-light-green-logo:hover {
  background-color: #99AD5C;
}
.bg-light-green {
  background-color: #99AD5C;
}
.bg-green-logo{
  background-color: #616E39;
}
.border-green-logo{
  border-color: #616E39;
}
a.mailhover:hover{
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #616E39;
}

/* Personalize as setas */
.custom-arrow {
  background: none; /* Remove o fundo */
  opacity: 1; /* Remove a opacidade */
  z-index: 10; /* Garante que as setas fiquem acima do conteúdo */
}

/* Personalize os indicadores */
.custom-dot {
  background-color: #cbd5e0; /* Cor para os indicadores não selecionados */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.custom-dot.selected {
  background-color: #4a5568; /* Cor para o indicador selecionado */
}
